.box{
    box-shadow: none;
    transition: 0.2s;
}

.box:hover{
    background: rgba(92, 164, 178, 0.04);
    box-shadow: 0px 0px 61.8408px #5CA4B2, 0px 0px 35.3376px #5CA4B2, 0px 0px 20.6136px #5CA4B2, 0px 0px 10.3068px #5CA4B2, 0px 0px 2.9448px #5CA4B2, 0px 0px 1.4724px #5CA4B2;
}